* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    background-color: #f1f3f4;
    font-family: Arial, Helvetica, sans-serif, 'Microsoft YaHei';
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.fx-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ai-center {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #37474f;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.introduction {
    color: #f6ffff;
}

@media (max-width: 440px) {
    .container {
        display: block;
    }
    .introduction {
        width: auto;
        color: #f6ffff;
    }
    .introduction .list {
        max-width: 500px;
        margin: 0 auto;
    }
    .container .page {
        padding: 25px;
    }
    .container .page .title {
        font-size: 1.3em;
    }
    .container .page .title .h2-icon {
        width: 30px;
        height: 30px;
    }
    .container .page .title .h2-icon svg {
        width: 15px;
        height: 15px;
    }
    .container .page .content {
        padding-top: 20px;
        padding-left: 30px;
    }
}

@media (min-width: 441px) and (max-width: 850px) {
    .container {
        display: block;
    }
    .introduction {
        width: auto;
        color: #f6ffff;
    }
    .introduction .list {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 851px) {
    .container {
        display: flex;
    }
    .introduction {
        width: 400px;
        color: #f6ffff;
    }
}

.page {
    flex-grow: 1;
    color: #273238;
    background-color: #ffffff;
    padding: 45px 60px 0;
}
.introduction .avatar {
    padding: 60px 100px 60px;
    background-color: #273238;
    text-align: center;
}
.introduction .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #273238;
    margin-bottom: 30px;
}
.avatar .name {
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 12px;
}
.avatar figcaption {
    font-size: 1.2em;
}

.introduction .list {
    padding: 50px 40px;
}
.introduction .part {
    padding-top: 20px;
}
.list .title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.list .title .h2-icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #283138;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list .title .h2-icon svg {
    width: 0.6em;
    height: 0.6em;
}
.list .title .h2-text {
    font-size: 0.8em;
}
.list .info li {
    padding-left: 8px;
    margin-bottom: 1em;
}
.list .skill-name {
    display: flex;
    align-items: center;
    font-weight: normal;
}
.list .skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list .skill-name svg {
    width: 0.8em;
    height: 0.8em;
    fill: #323b42;
}

.list .skill-icon {
    margin-left: 7px;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    background-color: #f6ffff;
    border-radius: 50%;
}
.list .skill li {
    padding-bottom: 15px;
}
.list .skill .bar {
    height: 8px;
    border-radius: 4px;
    background-color: #718e9d;
    margin-top: 6px;
    margin-left: 46px;
}
.list .skill .bar::after {
    content: '';
    display: block;
    width: 80%;
    height: 100%;
    border-radius: 4px;
    background-color: #273238;
}
.list .skill li:nth-child(2) .bar::after {
    width: 75%;
}
.list .skill li:nth-child(3) .bar::after {
    width: 90%;
}
.list .skill li:nth-child(4) .bar::after {
    width: 60%;
}
.list .contact li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list .contact .li-icon {
    margin-left: 7px;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    background-color: #f6ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list .contact .li-icon svg {
    fill: #323b42;
}
.page p {
    line-height: 1.8em;
    margin-bottom: 0.4em;
}
.page .title {
    display: flex;
}
.page .title .h2-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #273238;
}
.page .content {
    padding-top: 20px;
    padding-left: 70px;
}
.piece {
    padding-bottom: 35px;
}
.piece .caption {
    padding-bottom: 0.8em;
}
.piece .single-img {
    padding-bottom: 0.8em;
}
.piece .single-img img {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 100%;
}
.piece .ul-img {
    display: flex;
    flex-wrap: wrap;
}
.piece .ul-img img{
    margin-bottom: 0.8em;
    margin-right: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    max-width: 100%;
    height: 400px;
}
.piece .content .or-so {
    display: flex;
    color: #82949e;
    padding-bottom: 15px;
}
.or-so .right .text {
    margin-top: 3px;
}
.or-so .left,
.or-so .right {
    display: flex;
}
.or-so .left {
    margin-right: 2em;
}
.or-so .left > svg,
.or-so .right > svg {
    margin-right: 5px;
}
.page .content .or-so svg {
    width: 1.2em;
    height: 1.2em;
    fill: #82949e;
}
.piece .content .time {
    padding-bottom: 0.5em;
}

.piece .gyw-describe {
    display: block;
    list-style-type: disc;
    padding-bottom: 1em;
}
.piece .gyw-describe li {
    display: list-item;
    color: #575757;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}
.piece .technical {
    display: flex;
}
.piece .technical h3 {
    font-size: 16px;
    width: 80px;
    font-weight: bold;
    color: #575757;
}
.piece .technical ul {
    max-width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
}
.piece .technical li {
    border: 1px solid #273238;
    border-radius: 12px;
    padding: 2px 12px;
    margin-right: 12px;
    cursor: pointer;
    margin-bottom: 8px;
}
.piece .item {
    padding-bottom: 1.6em;
}
.footer {
    color: #82949e;
    border-left: 3px solid #82949e;
    padding: 0 10px;
}

/* PDF */
@media print {
    body {
        background-color: #ffffff;
    }
    .container {
        box-shadow: none;
        display: flex;
    }
    .introduction {
        max-width: 320px;
        width: auto;
        color: #f6ffff;
    }
    .introduction .avatar {
        padding: 30px 0;
        background-color: #273238;
        text-align: center;
    }
    .introduction .avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #273238;
        margin-bottom: 30px;
    }
    .introduction .list {
        padding: 0 30px;
    }
    .introduction .list .part:nth-child(3) .skill li:last-child {
        padding-top: 20px;
    }
    .container .page {
        flex-grow: 1;
        color: #273238;
        background-color: #ffffff;
        padding: 30px 30px 95px;
    }
    .container .page .title {
        font-size: 1.3em;
    }
    .container .page .title .h2-icon {
        width: 30px;
        height: 30px;
    }
    .container .page .title .h2-icon svg {
        width: 15px;
        height: 15px;
    }
    .container .page .content {
        padding-top: 20px;
        padding-left: 30px;
    }
    .piece .ul-img img{
        width: 180px;
        height: auto;
    }
}